<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>About Page.</title>
</head>
<article>
  {{> header}}
  <p>It is supposed that here is the mission and the vision but we are very busy living the moment.</p>
  <p>&mdash; The Team ¯\_(ツ)_/¯</p>
  {{> footer}}
</article>
</html>
