<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Home</title>
</head>
<article>
  {{> header}}
  <p>Welcome to a page that has no reason just to be {{getCapitalize mainText}}</p>
  {{> footer}}
</article>
</html>
