<!doctype html>
<title>Site Maintenance</title>
<article>
    {{> header}}
    <p>Here you can find all the cool projects that we are working on, despite the laziness we are cooking (~˘▾˘)~ {{NumberOfProjects}} amazing products for you ~(˘▾˘~)</p>
</article>
